/*common shared style*/

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    background: #e55473;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 8px;
    padding: 20px 43px;
}

header{
    display: flex;
    background: rgba(229, 84, 115, 0.1);
    justify-content: space-around;
    gap: 50px;
    padding: 0px 120px;
    padding-top: 50px;
    align-items: center;
    
}
.banner{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 506px;
    width: 708px;
    margin: ;
    
}
.banner-title{
    font-weight: 800;
    font-size: 80px;
    color: #272727;
    font-family: 'Lato';    
    margin-bottom: 25px;
}
.banner-description{
    color: #6d6969;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}
.banner-pic{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 635px;
    
    
}
